.score {
    width: 32%; 
    height: 263px;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    border-radius: 5px;

    .scoreTitle {
        font-size: 15px;
        margin-left: 20px;
    }

    .scoreChartContainer {
        position: relative;
        height: 100%;
        margin-top: -40px;

        .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: white;
            border-radius: 50%; 
            width: 59%;
            aspect-ratio: 1;

            @media screen and (max-width: 1440px) {
                width: 63%;
            }

            @media screen and (max-width: 1375px) {
                width: 62%;
            }

            @media screen and (max-width: 1100px) {
                width: 61%;
            }
    
            .percentage {
                font-size: 24px;
                font-weight: 700;
                color: #282D30;
            }
            
            p {
                font-size: 16px;
                margin: 0;
                color: #74798C;
                margin-top: 3px;
            }
        }   
    }   
}

