.averageChart {
    width: 32%;
    height: 216px;
    background-color: #F00;
    border-radius: 5px;
    padding: 10px 0px 37px 0px;

    .averageTitle {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
    }
}