.vNavBar {
    display: flex;
    flex-direction: column;
    width: 117px;
    height: 95vh;
    background: #020203;

    .verticalNav {
        margin: auto;

        .vNav {
            list-style: none;
            padding-inline-start: 0;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
    .verticalText {
        color: #ffffff;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-bottom: 70px;
    }
}

